.header__lang-text {
  max-width: 30px;
  max-height: 28px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 500px) {
  .header__lang-text {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-text:hover {
  opacity: 0.8;
}
