.footer {
  max-width: 1184px;
  background: #2a2c2f;
  margin: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media (max-width: 710px) {
  .footer {
    margin: 64px 16px 24px;
    flex-direction: column;
  }
}
