.header__wrap-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 18px;
  margin: 0;
  padding: 18px 0 0;
  list-style: none;
}

@media (max-width: 320px) {
  .header__wrap-link {
    padding: 14px 0 0;
  }
}
